<app-header [title]="'Groupe ' + groupName" backPath="groups"/>

<ion-content [fullscreen]="true" class="group-content">

  <div class="grid-container">
    <div class="title">
      Classement du groupe
    </div>

    <table class="standings-table">
      <thead>
        <tr>
          <th>Équipe</th>
          <th>J</th>
          <th>G</th>
          <th>N</th>
          <th>P</th>
          <th>+</th>
          <th>-</th>
          <th>+/-</th>
          <th>Pts</th>
        </tr>
      </thead>

      <tbody>
        @for(team of groupStandings; track $index) {
          <tr>
            <td class="team-name">{{team.short_name}}</td>
            <td>{{team.J}}</td>
            <td>{{team.G}}</td>
            <td>{{team.N}}</td>
            <td>{{team.P}}</td>
            <td>{{team.goalsFor}}</td>
            <td>{{team.goalsAgainst}}</td>
            <td>{{team.goalDiff}}</td>
            <td class="points">{{team.Pts}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if(playedMatches.length) {
    <div class="played-list-container">
      <div class="title">
        Matchs joués ({{playedMatches.length}})
      </div>

      <div class="played-list">
        @for(match of playedMatches; track $index) {
          <div class="played-list-item" (click)="openEditPlayedMatchModal(match.id)">

            <div class="match-state">
              <span class="state" [ngClass]="{
                'state-played': match.played,
                'state-pending': !match.played
              }">
                @if(match.played) {
                  Terminé
                }
                @else {
                  À compléter
                }
              </span>
            </div>

            <div class="teams-grid">
              <div class="team team-left">
                <img [src]="'assets/countries/' + match.name_team_1 + '.png'" class="flag">
                <span class="score">
                  {{match.score_team_1}}
                  @if(match.type[0] != "G") {
                    ({{match.extra_score_team_1}})
                  }
                </span>
                <span class="country">{{match.name_team_1}}</span>
              </div>

              <div class="separator">
                -
              </div>

              <div class="team team-right">
                <img [src]="'assets/countries/' + match.name_team_2 + '.png'" class="flag">
                <span class="score">
                  {{match.score_team_2}}
                  @if(match.type[0] != "G") {
                    ({{match.extra_score_team_2}})
                  }
                </span>
                <span class="country">{{match.name_team_2}}</span>
              </div>
            </div>

            <div class="infos">
              <span class="date-time">{{match.date}}, {{match.time}}</span>
              <span class="channel">Chaîne : {{match.channel}}</span>
              <span class="note">Note : {{match.note}}</span>
            </div>
          </div>
        }
      </div>
    </div>
  }

  @if(upcomingMatches.length) {
    <div class="upcoming-list-container">
      <div class="title">
        Matchs à venir ({{upcomingMatches.length}})
      </div>

      <div class="upcoming-list">
        @for(match of upcomingMatches; track $index) {
          <div class="upcoming-list-item" (click)="openEditUpcomingMatchModal(match.id)">

            <div class="teams-grid">
              <div class="team team-left">
                <img [src]="'assets/countries/' + match.name_team_1 + '.png'" class="flag">
                <span class="country">{{match.name_team_1}}</span>
              </div>

              <div class="separator">
                -
              </div>

              <div class="team team-right">
                <img [src]="'assets/countries/' + match.name_team_2 + '.png'" class="flag">
                <span class="country">{{match.name_team_2}}</span>
              </div>
            </div>

            <div class="infos">
              <span class="date-time">{{match.date}}, {{match.time}}</span>
              <span class="channel">Chaîne : {{match.channel}}</span>
              <span class="note">Note : {{match.note}}</span>
            </div>
          </div>
        }
      </div>
    </div>
  }

  @if(showEditPlayedMatchModal) {
    <div class="custom-modal-backdrop" (click)="closeEditPlayedMatchModal()">
      <div class="custom-modal-played" (click)="$event.stopPropagation()">
        <app-edit-played-match
          [matchId]="selectedMatchId"
          (close)="closeEditPlayedMatchModal($event)">
        </app-edit-played-match>
      </div>
    </div>
  }

  @else if(showEditUpcomingMatchModal) {
    <div class="custom-modal-backdrop" (click)="closeEditUpcomingMatchModal()">
      <div class="custom-modal-upcoming" (click)="$event.stopPropagation()">
        <app-edit-upcoming-match
          [matchId]="selectedMatchId"
          (close)="closeEditUpcomingMatchModal($event)">
        </app-edit-upcoming-match>
      </div>
    </div>
  }

</ion-content>