<app-header title="Paramètres" backPath="home"/>

<ion-content [fullscreen]="true" class="settings-content">

  <div class="settings-container">
    <div class="settings">
      <div class="title">
        Notifications
      </div>
      <div class="toggle-list">
        <div class="toggle">
          <div class="toggle-description">Phase de groupes</div>
          <ion-toggle [(ngModel)]="notificationsBoolGroups" (ionChange)="toggleChange($event, 'groups')"></ion-toggle>
        </div>
        <div class="toggle">
          <div class="toggle-description">Seizièmes de finale</div>
          <ion-toggle [(ngModel)]="notificationsBool16" (ionChange)="toggleChange($event, '1/16')"></ion-toggle>
        </div>
        <div class="toggle">
          <div class="toggle-description">Huitièmes de finale</div>
          <ion-toggle [(ngModel)]="notificationsBool8" (ionChange)="toggleChange($event, '1/8')"></ion-toggle>
        </div>
        <div class="toggle">
          <div class="toggle-description">Quarts de finale</div>
          <ion-toggle [(ngModel)]="notificationsBool4" (ionChange)="toggleChange($event, '1/4')"></ion-toggle>
        </div>
        <div class="toggle">
          <div class="toggle-description">Demi-finales</div>
          <ion-toggle [(ngModel)]="notificationsBool2" (ionChange)="toggleChange($event, '1/2')"></ion-toggle>
        </div>
        <div class="toggle">
          <div class="toggle-description">Finales</div>
          <ion-toggle [(ngModel)]="notificationsBool1" (ionChange)="toggleChange($event, 'finale')"></ion-toggle>
        </div>
        <div class="note">
          Les matchs pour lesquels au moins l'une des deux équipes n'est pas encore déterminée n'auront pas de notifications programmées.
        </div>
      </div>

    </div>

    <div class="settings">
      <div class="title">
        Changer le thème
      </div>
      <div class="theme-settings-selection">
        @for(themeOption of themes; track themeOption) {
          <label class="theme-option">
            <input
              type="radio"
              name="theme"
              [value]="themeOption"
              [checked]="themeOption === currentTheme"
              (change)="changeTheme(themeOption)"
            />
            <span>{{themeOption}}</span>
          </label>
        }
      </div>
    </div>

    <div class="settings">
      <div class="title">
        Gérer les chaînes
      </div>
      <div class="channels-settings-list">
        @for(channel of channels; track $index) {
          @if(channel != "-") {
            <div class="channels-settings-list-item">
              <div class="channels-settings-list-item-title">
                {{channel}}
              </div>
              <div class="channels-settings-list-item-delete" (click)="deleteChannel(channel)">
                X
              </div>
            </div>
          }
        }
      </div>
      <div class="channels-settings-add">
        <div class="channels-settings-add-button" (click)="openAddChannelModal()">
          Ajouter une chaîne
        </div>
      </div>
    </div>
  </div>

  @if(showAddChannelModal) {
    <div class="custom-modal-backdrop" (click)="closeAddChannelModal()">
      <div class="custom-modal" (click)="$event.stopPropagation()">
        <app-add-channel
          (close)="closeAddChannelModal($event)">
        </app-add-channel>
      </div>
    </div>
  }

</ion-content>