.home-button {
  width: 100%;
  min-height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  padding: 16px;

  background: var(--home-button-background);
  color: var(--home-button-text-color);

  font-size: 1.2em;

  box-shadow: 5px 5px 5px 5px var(--home-button-shadow);

  transition: transform 0.15s ease, box-shadow 0.15s ease;

  cursor: pointer;
}

/* Effet au clic */
.home-button:active {
  transform: scale(0.9);
}

.title-container {
  text-align: center;
  width: 100%;
}